
@{
    Layout = null;
}
@model DA_WEBNC.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trắc nghiệm Online | Login</title>
    <link href="~/Content/login.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2>@Html.ActionLink("Đăng nhập", "Login", "Login")</h2>
            <h2 class="inactive underlineHover i_login">@Html.ActionLink("Đăng ký", "Register", "Login")</h2>
            <br />       <hr />         <br />


            <!-- Login Form -->
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <span class="text-danger" >@ViewBag.error</span>
                <input type="text" id="Email" class="fadeIn second" name="Email" placeholder="Tên đăng nhập">

                <div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <input type="password" id="Password" class="fadeIn second" name="Password" placeholder="Mật khẩu">
                <div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                @*<button type="button" class="fadeIn sixth text_color fadeIn fourth">@Html.ActionLink("Đăng nhập", "Index", "Home")</button>*@
                <br />

                <input type="submit" value="Đăng nhập" class="fadeIn sixth text_color fadeIn fourth" />
            }
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover fadeIn fifth" href="./Login/ResetPassword">Quên mật khẩu ?</a>
            </div>

        </div>
    </div>
</body>
</html>
