
@{
    Layout = null;
}
@model DA_WEBNC.Models.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/Content/login.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="inactive underlineHover i_login">@Html.ActionLink("Đăng nhập", "Login", "Login")</h2>
            <h2>@Html.ActionLink("Đăng ký", "Register", "Login")</h2>
            <br />       <hr />         <br />

            <!-- Icon
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> -->
            <!-- Login Form -->
            @using (Html.BeginForm("Register", "Login", FormMethod.Post))
            {

                <input type="text" id="Password" class="fadeIn fifth" name="Email" placeholder="Email">
                <div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <input type="password" id="Password" class="fadeIn fifth" name="Password" placeholder="Mật khẩu">
                <div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <input type="password" id="Password" class="fadeIn fifth" name="ConfirmPassword" placeholder="Xác nhận mật khẩu">
                <div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <br /> 

                <input type="submit" value="Register" class="fadeIn sixth text_color fadeIn fourth" />

            }

        </div>
    </div>
</body>
</html>
