
@{
    Layout = null;
}
@model DA_WEBNC.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trắc nghiệm Online | Quên mật khẩu</title>
    <link href="~/Content/login.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
       
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="inactive underlineHover i_login">@Html.ActionLink("Đăng nhập", "Login", "Login")</h2>
            <h2 class="inactive underlineHover i_login">@Html.ActionLink("Đăng ký", "Register", "Login")</h2>
            <br />       <hr />

            <!-- ResetPass Form -->
            @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
            {
                <label style="color: #1b7527; margin-top:10px">@ViewBag.Success</label>
                <label class="text-danger">@ViewBag.error</label>

                <input type="text" id="Email" class="fadeIn second" name="Email" placeholder="Nhập email">
                <br />

                <div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <br /> 
                <input type="submit" value="Cấp lại mật khẩu mới" class="fadeIn sixth text_color fadeIn fourth" />
            }
        </div>
    </div>
</body>
</html>
