@model DA_WEBNC.Models.NhanVien

@{
    ViewBag.Title = "Thêm tài khoản";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<link href="~/Content/admin_item.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "AccountManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="profile_img">

        <div>
            <img id="output" class="item-img" src="~/Content/Images/avatar-default-icon.png" />
        </div>
        @*<button type="button" class="btn btn-primary btn-xs"  onchange="document.getElementById('output').src = window.URL.createObjectURL(src.files[0])">Chọn ảnh</button>*@
        <br />
        <input type="file" style="color:transparent; margin-left:130px" name="UploadAvt" oninput="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])">

    </div>
    <div class="create_content">
        <div class="text-center">
            <h1>Thông tin cá nhân</h1>
        </div>
        <br /> <br /> <br />

                      <div class="item-info">
                          <div class="row">
                              @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-4" })
                              <div class="col-sm-8">
                                  @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                              </div>
                              @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                          </div>
                          <br />

                          <div class="row">
                              @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-4" })
                              <div class="col-sm-8">
                                  @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                              </div>
                              @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                          </div>
                          <br />
                          <div class="row">
                              @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-4" })
                              <div class="col-sm-8">
                                  @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                              </div>
                              @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                          </div>
                          <br />

                          <div class="row">
                              @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-sm-4" })
                              <div class="col-sm-8">
                                  @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                              </div>
                              @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                          </div>
                          <br />

                          <div class="row">
                              <label class="col-sm-4">Vị trí</label>
                              <div class="col-sm-8">
                                  <select name="IDRole">
                                      <option value="2">Nhân viên</option>
                                      <option value="1">Admin</option>
                                  </select>
                                  @Html.ValidationMessageFor(model => model.IDRole, "", new { @class = "text-danger" })
                              </div>
                          </div>

                          <br /> <br />

                          <div class="row">
                              @*<button type="button" class="btn btn-primary">Cập nhật thông tin</button>*@
                              <div class="col-sm-11 text-center">
                                  <input type="submit" value="Thêm tài khoản" class="btn btn-info" />
                                  @Html.ActionLink("Trở về", "Index", "", new { @class = "btn btn-default" })
                              </div>
                          </div>
                      </div>


    </div>
}

