@model IEnumerable<DA_WEBNC.Models.NhanVien>

@{
    ViewBag.Title = "Danh sách Nhân viên";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/style2.css" rel="stylesheet" />

<div class="body-content">
    <h2>Danh sách Nhân viên</h2>
    <div class="body-content-item">
        @Html.ActionLink("Tạo tài khoản", "Create", "", new { @class = "btn btn-primary" })
        <hr />
        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" style="font-size:17px" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IDNhanVien)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Avatar)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.IDRole == 1)
                                    {
                                        continue;
                                    }
                                    <tr>
                                        <td class="text-center" style="padding-top:40px">
                                            @Html.DisplayFor(modelItem => item.IDNhanVien)
                                        </td>
                                        <td class="text-center" style="padding-top:40px">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td class="text-center" style="padding-top:40px">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-center" style="padding-top:40px">
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td class="text-center">
                                            <img src="@item.Avatar" alt="Alternate Text" width="100" height="100" class="img-circle" />
                                        </td>
                                        <td style="text-align: center; color: white; padding-top:40px">
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.IDNhanVien }, new { @class = "btn btn-warning" })
                                            @*@Html.ActionLink("Details", "Details", new { id = item.IDNhanVien }, new { @class = "btn btn-success" } ) |*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
