@model DA_WEBNC.Models.BaiThi

@{
    ViewBag.Title = "List_Exam";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />

<div class="main-body">
    <div class="body-top">
        <h2>@Model.TenBaiThi</h2>

        <div class="countdown-Exam">
            <p>Thời gian làm bài</p>
            <p> <span id="time">@Model.SoPhutLamBai</span> phút!</p>
            <input id="valueTime" type="text" value="@Model.SoPhutLamBai" hidden />
            <button type="button" class="btn btn-success">@Html.ActionLink("Nộp bài", "ExamResult", "ProfileUser")</button>
            <hr />
            <button type="button" class="btn btn-danger">@Html.ActionLink("Thoát", "ExamList", "Home")</button>
        </div>
        <hr />
    </div>
    <div class="body-main">
        @{
            var count = 1;
            foreach (var item in Model.CauHois)
            {

                <div class="item-Test">
                    <h4>Câu @count:</h4>
                    <h5 style="font-size: 110%">@item.CauHoi1</h5>
                    <ul>
                        <li><input type="radio" name="dapAn" value="@item.A" />&nbsp;&nbsp;&nbsp; A.  @item.A</li>
                        <li><input type="radio" name="dapAn" value="@item.B" />&nbsp;&nbsp;&nbsp; B.  @item.B</li>
                        <li><input type="radio" name="dapAn" value="@item.C" />&nbsp;&nbsp;&nbsp; C.  @item.C</li>
                        <li><input type="radio" name="dapAn" value="@item.D" />&nbsp;&nbsp;&nbsp; D.  @item.D</li>
                    </ul>
                </div>
                count++;
            }
        }

        <hr />
    </div>
</div>
<script type="text/javascript">

</script>