@model DA_WEBNC.Models.CauHoi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/style2.css" rel="stylesheet" />
<div class="body-content">
    <h2> Chi tiết câu hỏi</h2>
    <div class="body-content-item">
        <div class="body-content-item-item" style="font-size: 150%;">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CauHoi1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CauHoi1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.A)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.A)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.B)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.B)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.C)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.C)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.D)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.D)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DapAn.DapAn1)
                    </dt>

                    <dd>
                        <b>@Html.DisplayFor(model => model.DapAn.DapAn1)</b>
                    </dd>

                </dl>
            </div>
            <button type="button" class="btn btn-warning" style="margin-left: 150px;">@Html.ActionLink("Sửa", "Edit", new { id = Model.IDCauHoi })</button>
        </div>
        <button type="button" class="btn btn-primary">@Html.ActionLink("<< Trở về", "Index")</button>
    </div>
    <br />
</div>
