@model DA_WEBNC.Models.CauHoi

@{
    ViewBag.Title = "Sửa câu hỏi";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/style2.css" rel="stylesheet" />
<div class="body-content">
    <h2> Sửa câu hỏi</h2>
    <div class="body-content-item">
        <div class="body-content-item-item">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDCauHoi)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CauHoi1, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CauHoi1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CauHoi1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.A, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.A, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.A, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.B, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.B, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.B, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.C, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.C, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.C, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.D, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.D, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.D, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DapAn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-1">
                            <select name="DapAn" style="padding:7px; padding-right:40px; border-radius:0.3em; border-color: #ccc">
                                <option value="A">A: @Model.A</option>
                                <option value="B">B: @Model.B</option>
                                <option value="C">C: @Model.C</option>
                                <option value="D">D: @Model.D</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.DapAn, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-3 text-danger" style="width: 300px">Hãy chọn lại đáp án đúng</label>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-success" />
                            @Html.ActionLink("Trở về", "Index", "", new { @class = "btn btn-info", @style = "margin-left: 15px" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
</div>
