@model IEnumerable<DA_WEBNC.Models.CauHoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/style2.css" rel="stylesheet" />

<div class="body-content">
    <h2>Danh sách câu hỏi</h2>
    <div class="body-content-item">
        <button type="button" class="btn btn-primary">@Html.ActionLink("Thêm câu hỏi", "Create")</button>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CauHoi1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.A)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.B)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.C)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.D)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DapAn.DapAn1)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CauHoi1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.A)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.B)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.D)
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.DapAn.DapAn1)</b>
                    </td>
                    <td class="question-item-btn">
                        <button type="button" class="btn btn-info">@Html.ActionLink("Xem", "Details", new { id = item.IDCauHoi })</button>
                        <button type="button" class="btn btn-warning">@Html.ActionLink("Sửa", "Edit", new { id = item.IDCauHoi })</button>
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
</div>
