@model DA_WEBNC.Models.NhanVien

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link href="~/Content/admin_item.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <div class="profile_img">

        <div>
            <img id="output" class="item-img" src="@Model.Avatar" />
        </div>
        @*<button type="button" class="btn btn-primary btn-xs"  onchange="document.getElementById('output').src = window.URL.createObjectURL(src.files[0])">Chọn ảnh</button>*@
        <br/>
        <input type="file" style="color:transparent; margin-left:130px" name="UploadAvt" oninput="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])">
        <div class="item-name">
            <h3>@Model.Name</h3>
        </div>
        <div class="item-role">
            @if (Model.IDRole == 1)
            {


                <h5>Admin</h5>
            }
            else
            {
                <h5>Nhân viên</h5>
            }
        </div>
    </div>
    <div class="profile_content">
        <div class="text-center">
            <h1>Thông tin cá nhân</h1>
        </div>
        <br /> <br /> <br />

        <div class="item-info">
            <div class="row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-4" })
                <input type="text" name="IDNhanVien" value="@Model.IDNhanVien" hidden />
                <input type="text" name="IDRole" value="@Model.IDRole" hidden />
                <div class="col-sm-8"><input type="text" name="Name" value="@Model.Name" class="input_update" /></div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-sm-4" })
                <div class="col-sm-8"><input type="text" name="Address" value="@Model.Address" class="input_update" /></div>
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-4" })
                <div class="col-sm-8"><input type="text" name="Email" value="@Model.Email" class="input_update" readonly/></div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>
            <br />
            @*<div class="row">
                    <div class="col-sm-4"><h4>Mật khẩu cũ</h4></div>
                    <div class="col-sm-8"><input type="password" name="name" value="12345678912345" /></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-4"><h4>Mật khẩu mới</h4></div>
                    <div class="col-sm-8"><input type="password" name="name" value="123456789123456789" /></div>
                </div>
                <br />*@
        <div class="row">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-4" })
            <div class="col-sm-8"><input type="password" name="Password" placeholder="Nhập mật khẩu để cập nhật thông tin..." class="input_update" /></div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
            <br /> <br /> <br />

            <div class="row">
                @*<button type="button" class="btn btn-primary">Cập nhật thông tin</button>*@
                <div class="col-sm-11 text-center">
                    <input type="submit" value="Cập nhật thông tin" class="btn btn-primary" />
                </div>
            </div>
        </div>


    </div>
}
