@model DA_WEBNC.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/admin_item.css" rel="stylesheet" />

@using (Html.BeginForm("ChangePassword", "ProfileUser", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    <div class="profile_content">
        <div class="text-center">
            <h1>Đổi mật khẩu</h1>
        </div>
        <br /> <br /> <br />
        <div class="item-info">
            <div class="row">
                @if (TempData["result"] != null)
                {
                    <div class="col-md-10">
                        <div id="alert-success" class="alert alert-success" role="alert">
                            @TempData["result"]
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "col-sm-4" })
                <input type="password" name="ID" value="@Model.ID" hidden />
                <div class="col-sm-8"><input type="password" name="OldPassword" value="@Model.OldPassword" class="input_update" /></div>
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-sm-4" })
                <div class="col-sm-8"><input type="password" name="NewPassword" value="@Model.NewPassword" class="input_update" /></div>
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(model => model.ConfirmPass, htmlAttributes: new { @class = "col-sm-4" })
                <div class="col-sm-8"><input type="password" name="ConfirmPass" value="@Model.ConfirmPass" class="input_update" /></div>
                @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
            </div>

            <br /> <br /> <br />
            <div class="row">
                <div class="col-sm-11 text-center">
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

