@model DA_WEBNC.Models.ExamResultViewModel

@{
    ViewBag.Title = "Kết quả bài thi ";
    Layout = "~/Views/Shared/_UserLayout.cshtml";


    <link href="~/Content/style.css" rel="stylesheet" />


}
<div class="main-body">
    <div class="body-top">
        <h2>Chi tiết kết bài kiểm tra:</h2>
        <h3 class="item-result">Số câu đúng: <span>@Model.TongSoDiem</span> </h3>

        @*Note*@
        @*JS: sau này set điểm từ 7 trở lên màu xanh lá
            từ 5-6.9 màu vàng cam
            dưới 5 màu đỏ*@

        <hr />
    </div>
    <div class="body-main">
        <table>
            <tr>
                <th>Câu hỏi</th>
                <th>Trả lời</th>
                <th>Đáp án</th>
            </tr>
            @{
                var count = 1;
                foreach (var item in Model.ListCTBTHS)
                {
                    <tr>
                        <td>Câu @count</td>
                        <td class="false-result">@item.CauTraLoi</td>
                        <td class="true-result">@item.DapAn</td>
                    </tr>
                    count++;
                }
            }
        </table>
        <div class="backToHis">
            <a href="@Url.Action("ExamHistory", "ProfileUser")" class="btn btn-warning">Quay lại lịch sử bài thi</a>
        </div>
        <hr />
    </div>
</div>

